/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
ul.tabs {
  li{
    display: inline !important;
    padding: 0.5rem 0.7rem;
    background-color: #8c9eff;
    a{
      color: white;
    }
  }
}

.breadcrumb {
  background: rgba(245, 245, 245, 1);
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 4px; display: block;
  li {
    font-size: 14px;
    list-style-type:none;
    display: inline-block;
  }
  a {
    color: rgba(66, 139, 202, 1);
  }
  a:hover {
    color: rgba(42, 100, 150, 1);
  }

}
.breadcrumb>.active {
  color: rgba(153, 153, 153, 1);
}
.breadcrumb>li+li:before {
  color: rgba(204, 204, 204, 1);
  content: "\002F\00a0";
}

#panel-front {
  .content{

  }
}