@media all and (max-width: 479px){
  .rows{
    width:100%;
    float:left;
    margin-right:2%;
  }
}
@media all and (min-width: 480px) {
  .rows{
    width:48%;
    float:left;
    margin-right:2%;
    &:nth-child(2n - 1) {
      margin-right:2%;
    }
  }
}
